<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20x20_set_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{18,10}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{18,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,198},{10,10}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,240},{10,10}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,210},{4,6}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{4,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,120},{14,8}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{14,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,130},{14,6}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{14,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,232},{8,6}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{8,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,128},{20,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,140},{12,10}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{12,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,60},{14,12}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,24},{20,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,140},{10,10}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{10,20}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,90},{20,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,128},{10,20}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,244},{10,16}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,156},{8,18}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{20,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,222},{6,16}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,178},{4,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{4,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{16,12}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{16,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,156},{20,4}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,88},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,88},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,68},{20,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,178},{20,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,200},{20,2}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,200},{20,2}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,46},{14,12}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,90},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,152},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,178},{16,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{16,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,110},{16,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,138},{12,16}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,222},{20,4}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{20,8}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,222},{20,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{20,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,174},{16,2}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{16,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,156},{18,2}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{18,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,222},{6,8}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{6,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,140},{12,12}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,156},{16,16}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,156},{20,2}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,222},{20,6}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,200},{20,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,110},{20,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,210},{4,10}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{4,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{20,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,178},{20,2}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,156},{20,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,178},{20,4}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,74},{12,14}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{20,16}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,126},{20,12}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,200},{20,2}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,222},{20,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,200},{20,2}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,200},{20,4}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{20,6}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,140},{12,12}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,200},{20,2}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,156},{20,4}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,200},{20,2}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,178},{20,4}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,200},{20,2}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,110},{14,8}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{14,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,88},{10,14}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{10,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,100},{14,8}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{14,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,108},{20,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{20,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,126},{20,12}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{20,8}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,200},{2,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{2,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,152},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,152},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,222},{20,2}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,200},{20,4}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,200},{20,2}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,156},{20,4}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>20x20_set_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,140},{12,8}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20x20_bath.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db53c1e86dc08474a36b1c9814a93cbf$</string>
            <key>textureFileName</key>
            <string>20x20_bath.png</string>
        </dict>
    </dict>
</plist>
