<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bath_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,166},{18,10}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{18,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,182},{10,10}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,180},{10,10}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,182},{4,6}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{4,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,120},{14,8}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{14,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,130},{14,6}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{14,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,190},{8,6}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{8,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,128},{20,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,174},{12,10}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{12,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,60},{14,12}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,24},{20,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,168},{10,10}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,126},{10,20}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,90},{20,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,126},{10,20}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,168},{10,16}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,178},{8,18}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{20,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{6,16}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,158},{4,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{4,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,156},{16,12}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{16,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,154},{20,4}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,88},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,88},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,68},{20,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{20,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{20,2}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{20,2}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,46},{14,12}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,90},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,188},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,164},{16,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{16,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,110},{16,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,138},{12,16}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,154},{20,4}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{20,8}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,164},{20,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{20,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,170},{16,2}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{16,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,166},{18,2}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{18,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,182},{6,8}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{6,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,168},{12,12}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,186},{16,16}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,160},{20,2}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,138},{20,6}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,156},{20,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{20,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,186},{2,2}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{2,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{20,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{20,2}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,152},{20,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,148},{20,4}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,74},{12,14}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,108},{20,16}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,124},{20,12}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,186},{2,2}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{2,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{20,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,160},{20,2}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,148},{20,4}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,140},{20,6}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{12,12}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,182},{2,2}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{2,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,150},{20,4}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{20,2}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,146},{20,4}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{20,2}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,110},{14,8}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{14,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,88},{10,14}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{10,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,100},{14,8}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{14,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,178},{2,2}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{2,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{20,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,110},{20,12}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,138},{20,8}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,164},{2,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{2,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,188},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,188},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,162},{20,2}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,144},{20,4}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{20,2}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,138},{20,4}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bath_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,180},{12,8}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bath.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c9b4efc83a517b706839b24924b3309$</string>
            <key>textureFileName</key>
            <string>bath.png</string>
        </dict>
    </dict>
</plist>
