<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catherine_bed_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,90},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,24},{20,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{10,10}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,132},{10,10}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,122},{20,10}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,90},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,66},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,110},{20,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,88},{10,20}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,90},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,66},{10,20}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,46},{18,14}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{18,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,120},{20,6}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,112},{20,8}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,110},{20,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,112},{20,6}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{20,14}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{20,8}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,110},{20,10}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>catherine_bed_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catherine_bed.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27a4b7ba25d79303bbe9572b9a038047$</string>
            <key>textureFileName</key>
            <string>catherine_bed.png</string>
        </dict>
    </dict>
</plist>
