<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bunk1_gafromDialTest</key>
	<dict>
		<key>isOneTimeUse</key>
		<false/>
		<key>ga1</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>val</key>
			<string>gameactiontester1</string>
			<key>delay</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>bunk1_moveToOutsideTalk</key>
	<dict>
		<key>isOneTimeUse</key>
		<false/>
		<key>ga1</key>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>val</key>
			<string>bunk_outside</string>
			<key>delay</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>bunk1_pickupItem</key>
	<dict>
		<key>isOneTimeUse</key>
		<false/>
		<key>ga1</key>
		<dict>
			<key>type</key>
			<integer>4</integer>
			<key>val</key>
			<string>Matches</string>
			<key>delay</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>bad_ending_cutscene</key>
	<dict>
		<key>isOneTimeUse</key>
		<false/>
		<key>ga1</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>val</key>
			<string>BAD ENDING! SHAME ON YOU</string>
			<key>delay</key>
			<integer>0</integer>
		</dict>
		<key>ga2</key>
		<dict>
			<key>type</key>
			<integer>7</integer>
			<key>val</key>
			<string></string>
			<key>delay</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>good_ending_cutscene</key>
	<dict>
		<key>isOneTimeUse</key>
		<false/>
		<key>ga1</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>val</key>
			<string>Good ending. yay!</string>
			<key>delay</key>
			<integer>0</integer>
		</dict>
		<key>ga2</key>
		<dict>
			<key>type</key>
			<integer>7</integer>
			<key>val</key>
			<string></string>
			<key>delay</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>player_beat_up_then_bad_ending</key>
	<dict>
		<key>isOneTimeUse</key>
		<false/>
		<key>ga1</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>val</key>
			<string>BAD ENDING! SHAME ON YOU</string>
			<key>delay</key>
			<integer>0</integer>
		</dict>
		<key>ga2</key>
		<dict>
			<key>type</key>
			<integer>7</integer>
			<key>val</key>
			<string></string>
			<key>delay</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
