<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,22},{18,4}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{18,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{18,4}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{18,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,30},{8,4}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{8,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,24},{8,4}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{8,4}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{20,10}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hall_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc51731d140dc3c2c7134073b09e9299$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
