<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intro_cutscene_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{8,4}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{8,4}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>intro_cutscene_hidef.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>intro_cutscene_sitting.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,84},{30,20}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{30,20}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>intro_cutscene_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{14,34}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{14,34}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>intro_cutscene.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46874b3066fd1d8cabd046e3c0a250ae$</string>
            <key>textureFileName</key>
            <string>intro_cutscene.png</string>
        </dict>
    </dict>
</plist>
