<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DoorKnob</key>
	<string>Congratulations! You picked up a Door Knob but careful! One end is kinda sharp!</string>
	<key>Matches</key>
	<string>Congratulations! You picked up some Matches! I can&apos;t think of a situation where these wouldn&apos;t be useful!</string>
</dict>
</plist>
