<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tester</key>
	<dict>
		<key>text</key>
		<string>Next week&apos;s plans will have to be put on hold. Karen is saying that an emergency session has been called.

Emergency meetings never end well...

-T</string>
		<key>image</key>
		<string>mtns.png</string>
	</dict>
	<key>DiaryTemp</key>
	<dict>
		<key>text</key>
		<string>You really shouldn&apos;t be reading other people&apos;s diaries.......</string>
		<key>image</key>
		<string>testlayer_back.png</string>
	</dict>
</dict>
</plist>
