<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40x40_wallcomp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,34}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>40x40_wallcomp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,32}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{26,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>40x40_wallcomp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{28,24}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wallcomp.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:282b6b14d21975bb624ec35b888c134c$</string>
            <key>textureFileName</key>
            <string>wallcomp.png</string>
        </dict>
    </dict>
</plist>
